extends ./_base/_layout
block vars
  - var path = '.';
block title
  title= title
block append meta
block append link
  link(rel="stylesheet", href=`${path}/assets/css/style.css`)
block append script
  script(defer, src=`${path}/assets/js/app.bundle.js?v=${Date.now()}`)
block body
  #wrapper.wrapper
    header.header
      h1 Hello, World!
    main.main
      #box.box
      button#users fetch users
      button#user fetch user
